/* Variables */


:root {
    --basic-black: #000000;
    --basic-grey: #283136;
    --basic-pink: #FB565A;
    --darker-pink: #E74246;
    --darkest-pink: #D7373B;
    --basic-green: #00CA74;
    --darker-green: #00BC6C;
    --darkest-green: #00AA62;
    --basic-yellow: #EFC849;
    --darker-yellow: #EAB534;
    --darkest-yellow: #E5A722;
    --basic-white: #FFFFFF;
    --light-grey: #444444;
    --dark-grey: #666666;
    --silver: #DFDFDF;
    --dimgrey: #D5D5D5;
    --almost-grey: #EEEEEE; 
    --none-transparent-black: rgba(0, 0, 0, 0);
    --transparent-black: rgba(0, 0, 0, 0.25);
    --shadow-black: rgba(0, 0, 0, 0.4);
    --transparent-black-3: rgba(0, 0, 0, 0.3);
    --transparent-black-6: rgba(0, 0, 0, 0.6); 
    --transparent-black-1: rgba(0, 1, 1, 0.1);
}
  
/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page {
    height: 100%;
}

  /* Main navigation */

.top-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.main-header {
    background-color: var(--basic-white);
    margin-bottom: 70px;
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}

.main-navigation{
    display: grid; 
}

.main-navigation a,
.cart-link {
    text-decoration: none;
    color: var(--basic-black);
    outline: 5px solid rgba(255, 0, 255, 0.3);
    outline-offset: -5px;
    justify-self: right;
    line-height: 30px;
}

.main-navigation a:hover,
.cart-link:hover{
    color: var(--basic-pink);
}

.main-navigation a:focus,
.cart-link:focus {
    color: var(--transparent-black);
}

.active {
    border-bottom: 2px solid var(--basic-pink);
    padding-bottom: 5px;
}

.main-navigation *,
.cart-link {
    text-transform: uppercase;
}

.site-navigation {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    outline: 5px solid rgba(0, 255, 255, 0.3);
    line-height: 30px;
}

.button {
    font: inherit;
    padding: 20px 40px 20px 40px;
    background-color: var(--basic-pink);
    border-radius: 3px;
    text-transform: uppercase;
    color: var(--basic-white);   
    line-height: 18px; 
}

.button:hover {       
    background-color: var(--darker-pink);    
}

.button:focus {   
    background-color: var(--darkest-pink);    
}

/* Features */

.feature-header {
    font-size: 55px;
    line-height:  55px;
    margin-top: 82px ; 
    margin-bottom: 33px;
    font-weight: 500;    
}

.feature-description {
    margin-bottom: 55px;
    color: var(--basic-grey);
    font-weight: 400; 
}

.divider {
    width: 100%;
    height: 2px;
    background-color: var(--basic-white);
}

.feature-item {
    height: 431px;
    background-repeat: no-repeat;
    background-position: right;
}

.feature-item-1 {
    background-image: url("../img/slide1.png");
}

.feature-item-2 {
    background-image: url("../img/slide2.png");
}

.feature-item-3 {
    background-image: url("../img/slide3.png");
}

/* Services */

.services-list {
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
}

.services-list li {
    justify-self: center;
}

.services-list h3 {
    margin-top: 30px;
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.services-list p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    color: var(--basic-grey);
}

.button-green {
    background-color: var(--basic-green);
}

.button-green:hover {
    background-color: var(--darker-green)
}   

.button-green:focus {
    background-color: var(--darkest-green) 
}

.button-yellow {
    background-color: var(--basic-yellow);
}

.button-yellow:hover {
    background-color: var(--darker-yellow);
}

.button-yellow:focus {
    background-color: var(--darkest-yellow);
}

/* Сlients */
.clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.clients a {
    opacity: 0.2;
    box-shadow: 0px 4px 4px var(--transparent-black);  
}

.clients a:hover {
    opacity: 1;
    box-shadow: var(--none-transparent-black);
}

.clients a:focus {
    opacity: 0.1;
    box-shadow: 0px 4px 4px var(--transparent-black);
}

/* About */

.about-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about-title {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 36px;
    font-weight: 500;
}

.about-description {
    margin-bottom: 49px;  
    font-weight: 400;  
    color: var(--basic-grey)
}

.about-services  {
    text-transform: uppercase;
    margin-bottom: 34px;
    color: var(--basic-grey);
}

.about-list {
    color:var(--basic-grey);
    font-weight: 400;    
}

.table-title {
    text-transform: uppercase;
    font-size: 16px;   
}

.table-numerals td {
    font-size: 45px; 
    font-weight: 700;
    line-height: 64px;
}

  .table-percents sup {
    font-size: 26px;
    line-height: 40px;
}

.description-percent td {
    color: var(--basic-grey); 
    line-height: 18px;
    font-weight: 400;
}

/* Appointment */
.appointment {
    font: inherit;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px var(--transparent-black);      
}

.appointment-header {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.appointment-contacts {
    color: var(--dark-grey);
    font-weight: 400;
    line-height: 18px;
}

.contacts-phone {
    color: inherit;
}
 
/* Modal */
.modal {
    box-shadow: 0px 20px 40px var(--shadow-black);    
}

.modal-title{
    font-size: 45px;
    line-height: 53px;
} 

.modal-label label {    
    font-weight: 700;
    line-height: 18px;
}

.modal-input input {
    font-family: Roboto;
    color: var(--light-grey);
    line-height: 18px;
    font-size: 16px;
    font-weight:400;
}

.modal-textarea {
    font-family: Roboto;
    color: var(--light-grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
   
/* Social Networks */
.social-links img {
    background-color: var(--almost-grey);
}

/* Grids */
.main-footer {
    outline-offset: -5px;
}

/* +++++++++++++++++++++++++++++++++++++++CATALOG+++++++++++++++++++++++++++++++++++++++++ */

/* Products */
.main-title legend {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;    
}

.main-title {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
}

.site-title:hover {
    color: var(--basic-pink);    
}

.site-title:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.price-offer {
    text-align: center;
    background-color: var(--almost-grey);
    color: var(--basic-black);
}

.product-description {
    color:var(--dark-grey); 
    font-size: 16px;
    line-height: 18px;  
    text-align: center;
    font-weight: 400;
}

/* Filters */
.list-filter input {
    font-family: Roboto;
    color: var(--basic-grey);
    font-weight: 400;
    line-height: 22px;
    font-size: 16px; 
}

.list-filter label {     
    padding: 0;
    color: var(--basic-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.filter-item label {
    color: var(--basic-grey);
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
}

.show {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    background-color: var(--almost-grey); 
    border-radius: 3px;
    border: none;
}

.show:hover,
.show:focus {
    background-color: var(--silver);
}

.show:active {
    background-color: var(--dimgrey);
    box-shadow: inset 0px 3px 0px var(--transparent-black-1);    
}

.sorting-item {
    color: var(--transparent-black-3);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;    
}

.sorting-item a:hover {
    color:var(--transparent-black-6); 
}

.sorting-item a:active {
    color: var(--transparent-black-1);
}

/* Pagination */

.pagination-list {
    list-style: none;
}

.pagination-item {
    color: var(--basic-black);
    background-color: var(--almost-grey); 
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:active  {
    background-color: var(--silver);   
}


