/* Variables */


:root {
    --basic-black: #000000;
    --basic-grey: #283136;
    --basic-pink: #FB565A;
    --darker-pink: #E74246;
    --darkest-pink: #D7373B;
    --basic-green: #00CA74;
    --darker-green: #00BC6C;
    --darkest-green: #00AA62;
    --basic-yellow: #EFC849;
    --darker-yellow: #EAB534;
    --darkest-yellow: #E5A722;
    --basic-white: #FFFFFF;
    --light-grey: #444444;
    --dark-grey: #666666;
    --silver: #DFDFDF;
    --dimgrey: #D5D5D5;
    --almost-grey: #EEEEEE; 
    --social-grey: #E1E1E1;
    --none-transparent-black: rgba(0, 0, 0, 0);
    --transparent-black: rgba(0, 0, 0, 0.25);
    --shadow-black: rgba(0, 0, 0, 0.4);
    --transparent-black-3: rgba(0, 0, 0, 0.3);
    --transparent-black-6: rgba(0, 0, 0, 0.6); 
    --transparent-black-1: rgba(0, 1, 1, 0.1);
}
  
/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.container {
    width: 100%;
    
    /* padding: 0 20px; */
}

.container-inner {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;    
}

  /* Main navigation */
.container-color {
    background-color: var(--almost-grey);
} 

.main-header {
    /* outline: 5px solid rgba(0, 255, 0, 0.7); */
    outline-offset: -5px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    margin-top: 49px;
}

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-navigation a,
.cart-link {
    text-decoration: none;
    color: var(--basic-black);
    /* outline: 5px solid rgba(255, 0, 255, 0.3); */
    outline-offset: -5px;
    justify-self: right;
    line-height: 30px;
}

.main-navigation a:hover,
.cart-link:hover{
    color: var(--basic-pink);
}

.main-navigation a:focus,
.cart-link:focus {
    color: var(--transparent-black);
}

.active {
    border-bottom: 2px solid var(--basic-pink);
    padding-bottom: 5px;
}

.main-navigation *,
.cart-link {
    text-transform: uppercase;
    align-self: center;
}

.cart-link span {
    margin-left: 25px;    
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 537px;   
}

.site-navigation li {
    margin-left: 45px;
}

.button {
    font: inherit;
    padding: 17px 54px 15px 54px;
    background-color: var(--basic-pink);
    border-radius: 3px;
    text-transform: uppercase;
    color: var(--basic-white);   
    line-height: 18px; 
}

.button:hover {       
    background-color: var(--darker-pink);    
}

.button:focus {   
    background-color: var(--darkest-pink);    
}

/* Features */

.features {
    background-color: var(--almost-grey);
}

.feature-header {
    font-size: 55px;
    line-height:  55px;
    margin-top: 78px ; 
    margin-bottom: 33px;
    font-weight: 500;   
    max-width: 538px; 
}

.feature-description {
    margin-bottom: 55px;
    color: var(--basic-grey);
    font-weight: 400; 
}


.feature-item {
    width: 1157px;
    height: 431px;  
    background-repeat: no-repeat;
    background-position: right;
    /* margin-top: 0px; */
}

.feature-item-1 {
    background-image: url("../img/slide1.png");
           
}

.feature-item-2 {
    background-image: url("../img/slide2.png");
}

.feature-item-3 {
    background-image: url("../img/slide3.png");
}

/* Services */

.separator {
    width: 100%;
    height: 2px;
    background-color: var(--almost-grey);
}

.services-list {
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
}

.services-list li {
    justify-self: center;
}

.services-list h3 {
    margin-top: 25px;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.services-list p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    color: var(--basic-grey);
    max-width: 260px;
}

.button-services {
    padding: 17px 39px 15px 40px;
}

.button-green {
    background-color: var(--basic-green);
    
}

.button-green:hover {
    background-color: var(--darker-green)
}   

.button-green:focus {
    background-color: var(--darkest-green) 
}

.button-yellow {
    background-color: var(--basic-yellow);
}

.button-yellow:hover {
    background-color: var(--darker-yellow);
}

.button-yellow:focus {
    background-color: var(--darkest-yellow);
}

/* About */

.about-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about h3 {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 32px;
    margin-top: 73px;
    font-weight: 500;
    }

.about p {
    font-weight: 400;  
    color: var(--basic-grey);
    max-width: 646px;
    margin-bottom: 40px; 
}

.about h4 {
    text-transform: uppercase;
    margin-bottom: 23px;
    color: var(--basic-grey);
} 

.about li {
    color:var(--basic-grey);
    font-weight: 400;
    position: relative;
    padding-left: 36px;
    padding-bottom: 35px;

}

.about li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 2px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-pink);
}

.about-right {
    margin-top: 39px;
}

.about-right h3 {
    text-transform: uppercase;
    font-size: 16px;  
    margin-top: 40px;
    margin-bottom: 38px; 
}

 .table-numerals td {
    font-size: 45px; 
    font-weight: 700;
    line-height: 64px;
     
}

  .table-percents sup {
    font-size: 26px;
    line-height: 40px;
}

.description-percent td {
    color: var(--basic-grey); 
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* Сlients */
.clients-logo {
    margin-top: 45px;
    margin-bottom: 45px;
}

.clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;

    }

.clients a {
    opacity: 0.2;    
}

.clients a:hover {
    opacity: 1;
}

.clients a:focus {
    opacity: 0.1;
}


/* Footer */

.main-footer {
    outline-offset: -5px;
    padding: 130px 0;
}

/* .map {
    width: auto;
} */

/* Appointment */
.appointment {
    font: inherit;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px var(--transparent-black);      
}

.appointment-header {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.appointment-contacts {
    color: var(--dark-grey);
    font-weight: 400;
    line-height: 18px;
}

.contacts-phone {
    color: inherit;
}
 
/* Modal */
.modal {
    box-shadow: 0px 20px 40px var(--shadow-black);    
}

.modal-title{
    font-size: 45px;
    line-height: 53px;
} 

.modal-label label {    
    font-weight: 700;
    line-height: 18px;
}

.modal-input input {
    font-family: Roboto;
    color: var(--light-grey);
    line-height: 18px;
    font-size: 16px;
    font-weight:400;
}

.modal-textarea {
    font-family: Roboto;
    color: var(--light-grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
   
/* Social Networks */
.social-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 68px;
}

.footer-social {
    /* outline: 5px solid rgba(0, 255, 0, 0.7); */
    outline-offset: -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    width: 270px;
}

.footer-social li {
    border-radius: 100px;
    background-color: var(--social-grey);
    width: 81px;
    height: 81px;
}

/* .footer-social li :hover{
    border-radius: 100px;
    background-color: var(--darker-pink);
    width: 81px;
    height: 81px;
} */


.social-button img {
    margin: 38%;
    height: 25%;
    width: 25%;
}

/* Friendship */
.friendship {
    /* outline: 5px solid rgba(0, 255, 255, 0.7); */
    outline-offset: -5px;
    margin-left: 139px;
}

.friendship h3 {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
}

.friendship p {
    color: var(--light-grey);
    line-height: 22px;
    font-weight: 400;
    margin-top: 10px;
    }

/* +++++++++++++++++++++++++++++++++++++++CATALOG+++++++++++++++++++++++++++++++++++++++++ */
.page-catalog {
    /* outline: 5px solid rgba(255, 0, 0, 0.7); */
    outline-offset: -5px;
    display: grid;
    grid-template-columns: 180px 1fr;
    align-content: start;
}

/* Sorting */

.sorting {
    /* outline: 5px solid rgba(0, 0, 255, 0.7); */
    outline-offset: -5px;
    grid-column: 1 / -1; 
    margin-bottom: 40px;  
    margin-left: 141px;
}

.sorting-item {
    color: var(--transparent-black-3);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase; 
    list-style: none;
    padding: 0;
       
}

.sorting-item a:hover {
    color:var(--transparent-black-6); 
}

.sorting-item a:active {
    color: var(--transparent-black-1);
}

/* Products */

.catalog {
    /* outline: 5px solid rgba(0, 255, 255, 0.7); */
    outline-offset: -5px;
    margin-left: 141px;
  }

.main-title legend {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;   
     
}

.main-title {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    margin: 0;
}

.site-title:hover {
    color: var(--basic-pink);    
}

.site-title:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.price-offer {
    text-align: center;
    background-color: var(--almost-grey);
    color: var(--basic-black);
}

.product-description {
    color:var(--dark-grey); 
    font-size: 16px;
    line-height: 18px;  
    text-align: center;
    font-weight: 400;
}

/* Filters */

.filters {
    /* outline: 5px solid rgba(255, 0, 255, 0.7); */
    outline-offset: -5px;
}

.list-filter input {
    font-family: Roboto;
    color: var(--basic-grey);
    font-weight: 400;
    line-height: 22px;
    font-size: 16px; 
}

.list-filter label {     
    padding: 0;
    color: var(--basic-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.filter-item label {
    color: var(--basic-grey);
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
}

.show {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    background-color: var(--almost-grey); 
    border-radius: 3px;
    border: none;
}

.show:hover,
.show:focus {
    background-color: var(--silver);
}

.show:active {
    background-color: var(--dimgrey);
    box-shadow: inset 0px 3px 0px var(--transparent-black-1);    
}


/* Pagination */

.pagination-list {
    list-style: none;
}

.pagination-item {
    color: var(--basic-black);
    background-color: var(--almost-grey); 
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: var(--silver);
}

.pagination-item:active {
    background-color: var(--basic-white);       
}


