/* Variables */


:root {
    --basic-black: #000000;
    --basic-grey: #283136;
    --basic-pink: #FB565A;
    --darker-pink: #E74246;
    --darkest-pink: #D7373B;
    --basic-green: #00CA74;
    --darker-green: #00BC6C;
    --darkest-green: #00AA62;
    --basic-yellow: #EFC849;
    --darker-yellow: #EAB534;
    --darkest-yellow: #E5A722;
    --basic-white: #FFFFFF;
    --light-grey: #444444;
    --dark-grey: #666666;
    --silver: #DFDFDF;
    --dimgrey: #D5D5D5;
    --almost-grey: #EEEEEE; 
    --social-grey: #E1E1E1;
    --middle-grey: #d7dcdf;
    --shadow-grey: #ABABAB; 
    --foggy-grey: #4D4D4D;
    --haze-grey: #C1C1C1; 
    --smoke-grey: #D7DCDE; 
    --misty-grey: #B4B9BB; 
    --none-transparent-black: rgba(0, 0, 0, 0);
    --transparent-black: rgba(0, 0, 0, 0.25);
    --shadow-black: rgba(0, 0, 0, 0.4);
    --transparent-black-3: rgba(0, 0, 0, 0.3);
    --transparent-black-6: rgba(0, 0, 0, 0.6); 
    --transparent-black-1: rgba(0, 1, 1, 0.1);
    --transparent-grey: rgba(0,0,0,0.15);
}
  
/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.container {
    width: 100%;  
}

.container-inner {
    position: relative;
    width: 1160px;
    margin: 0 auto;
    padding: 33px 20px 0 20px;   
}

.button {
    font: inherit;
    padding: 16px 54px 16px 54px;
    background-color: var(--basic-pink);
    border-radius: 4px;
    text-transform: uppercase;
    color: var(--basic-white);   
    line-height: 18px; 
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: none;
    font-weight: 500;
}

.button:hover {       
    background-color: var(--darker-pink);    
}

.button:focus {   
    background-color: var(--darkest-pink);    
}

  /* Main navigation */

.container-color {
    background-color: var(--almost-grey);
    overflow: hidden;
} 

.main-header {
    /* position: absolute; */
    /* top: 49px;
    left: 20px; */
    width: 100%;
    margin-top: 0;
    z-index: 10;
    box-sizing: border-box;
    /* max-width: 1160px; */
    display: flex;
    padding-top: 15px;
    z-index: 10;
    /* grid-template-columns: 1fr min-content 1fr;    */
}

.main-header-logo {
    width: 160px;
    height: 65px;
    z-index: 3;
}

.header-logo-catalog:hover {
    opacity: 0.7;
}

.header-logo-catalog:focus {
    opacity: 0.3;
}

.header-logo-catalog:active {
    opacity: 1;
}

.main-navigation a,
.cart-link a {
    text-decoration: none;
    color: var(--basic-black);
    justify-self: right;
    line-height: 30px;
}

.cart-link {
    max-width: 180px;    
    text-align: right;
    margin-top: 16px; 
    margin-bottom: 0;
    margin-left: auto;   
}

.main-navigation a:active,
.cart-link a:active {
    color: var(--basic-black);
}

.main-navigation a:hover,
.cart-link a:hover{
    color: var(--basic-pink);
}

.main-navigation a:focus,
.cart-link a:focus {
    color: var(--transparent-black);
}

.main-navigation * {
    text-transform: uppercase;
    align-self: center;
}

.cart-link {
    text-transform: uppercase;
    align-self: center;
    margin-top: 15px;
    padding-left: 17px;   
    position: relative;
    list-style: none;
}

.cart-link::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -25px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation {
    list-style: none;
    margin-top: 16px;
    padding: 0;
    line-height: 30px;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    width: 840px; 
    z-index: 3;
}

.site-navigation a {
    padding: 0 23px;
    position:relative;
}

.site-navigation a.active::after {
    content: "";
    position: absolute;
    right: 23px;
    bottom: -22px;
    left: 23px;  
    height: 2px;
    background-color: var(--basic-pink);
}

/* Features */

.features {
    background-color: var(--almost-grey);
    position: relative; 
    min-height: 433px;     
}

.feature-header {
    font-size: 55px;
    line-height:  55px;
    margin-top: 78px ; 
    margin-bottom: 28px;
    font-weight: 500;   
    max-width: 520px; 
}

.feature-description {
    margin-bottom: 39px;
    color: var(--basic-grey);
    font-weight: 400; 
}

.feature-description-2,
.feature-description-3 {
    margin-top: 38px;
    margin-bottom: 30px;
}

.feature-item {
    position: absolute;
    width: 100%;
    padding-bottom: 80px;    
    background-repeat: no-repeat;
    background-position: 100%;
}

.feature-item-1 {
    background-image: url("../img/slide1.png");              
}

.feature-item-2 {
    background-image: url("../img/slide2.png");    
}

.feature-item-3 {
    background-image: url("../img/slide3.png");    
}

.slide-current {
    display: block;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-controls {
    position: absolute;
    bottom: 94px;
    left: 0;
    z-index: 20;
    display: flex;
    width: 88px;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
}

.slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-white);
    border-radius: 50%;
    cursor: pointer;    
}

.slider-controls button.current::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;  
    width: 4px;
    height: 4px;  
    border: 2px solid var(--haze-grey);
    border-radius: 50%;
}

/* Services */

.services-wrapper {
    padding-top: 47px;
}

.services-list {
    position: relative;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    width: 1100px;
}

.services-list::after {
    content: "";
    position:absolute;
    bottom: -83px;
    left: 0;
    width: 1158px;
    height: 2px;
    background-color: var(--almost-grey); 
}

.services-list li {
    justify-self: center;
}

.services-list h3 {
    margin-top: 17px;
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.services-list p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    color: var(--basic-grey);
    max-width: 260px;
}

.button-services {
    padding: 17px 39px 15px 40px;
}

.button-green {
    background-color: var(--basic-green);
    
}

.button-green:hover {
    background-color: var(--darker-green)
}   

.button-green:focus {
    background-color: var(--darkest-green) 
}

.button-yellow {
    background-color: var(--basic-yellow);
}

.button-yellow:hover {
    background-color: var(--darker-yellow);
}

.button-yellow:focus {
    background-color: var(--darkest-yellow);
}

/* About */

.about-wrapper {    
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 50px;
}

.about h3 {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 32px;
    margin-top: 76px;
    font-weight: 500;
}

.about p {
    font-weight: 400;  
    color: var(--basic-grey);
    max-width: 646px;    
    margin-bottom: 40px; 
}

.about h4 {
    text-transform: uppercase;
    margin-bottom: 25px;    
    color: var(--basic-grey);
} 

.about li {
    color:var(--basic-grey);
    font-weight: 400;
    position: relative;
    padding-left: 36px;
    padding-bottom: 23px;
}

.about li::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 2px;
    width: 25px;
    height: 2px;
    background-color: var(--basic-pink);
}

.about-right {
    margin-top: 39px;
    margin-left: 30px;
    display: block;
}

.about-right h3 {
    text-transform: uppercase;
    font-size: 16px;  
    margin-top: 33px;
    margin-left: 18px;
}

.table {
    width: 362px;
}

.table-numerals td {
    font-size: 45px; 
    font-weight: 700;
    line-height: 64px;
    width: 310px;
    padding-top: 10px;   
    padding-right: 5px;  
}

.table-numerals sup {
    font-size: 26px;
    line-height: 40px;
}

.description-percent td {
    color: var(--basic-grey); 
    line-height: 18px;
    font-weight: 400;
    padding-top: 10px;
}

/* Сlients */

.clients {
    display: flex;
    flex-wrap: wrap; 
    width: 1160px;  
    border-top: 2px solid var(--almost-grey);
    border-bottom: 2px solid var(--almost-grey);
    padding: 45px 0 44px;     
}

.clients-logo {
    margin-top: 45px;
    margin-bottom: 80px;
}

.clients img {
    vertical-align: middle;
}

.clients a {
    display: block;
    opacity: 0.2;    
}

.clients a:hover {
    opacity: 1;
}

.clients a:focus {
    opacity: 0.1;
}

.clients-list {
    position: relative;    
    align-self: center;
    justify-content: center;    
}

.clients-list:nth-child(1) {
    position: relative;
    padding-right: 96px; 
    padding-left: 30px;   
}    

.clients-list:nth-child(4n+3) {
    position: relative;
    padding-left: 107px;
    padding-right: 115px;
}

.clients-list:nth-child(n+5) {
    position: relative;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 80px;
}

.clients-list:nth-child(1)::after {
    content: "";
    position: absolute;
    height: 52px;
    width: 2px;
    background-color: var(--almost-grey);      
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
}

.clients-list:nth-child(2)::after {
    content: "";
    position: absolute;
    height: 52px;
    width: 2px;
    background-color: var(--almost-grey);      
    top: 50%;
    transform: translateY(-50%);
    right: -45px;
}

.clients-list:nth-child(3)::after {
    content: "";
    position: absolute;
    height: 52px;
    width: 2px;
    background-color: var(--almost-grey);      
    top: 50%;
    transform: translateY(-50%);
    right: 57px;
}
    
/* Footer */

.main-footer {
    outline-offset: -5px;
    padding-bottom: 30px;
}

.map {
    position: relative;
    height: 416px;
    box-sizing: border-box;
    overflow: hidden;
}

.map-img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: initial;
    z-index: 1;
}

  .map-marker {
    display: block;
    position: absolute;
    z-index: 2;
    right: 243px;
    top: 70px;
}

  .map .container-inner {
    position: relative;
    z-index: 2;
    padding-top: 54px;
    padding-bottom: 54px;
}


/* Appointment */

.appointment {
    max-width: 319px;
    background-color: var(--basic-white);
    padding: 50px;
    box-sizing: border-box;
}

.appointment-header {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
}

.appointment-contacts {
    color: var(--dark-grey);
    font-weight: 400;
    line-height: 18px;
}

.appointment-contacts p {
    margin-top: 21px;
}

.contacts-phone {
    color: inherit;
}

.button-appointment {
    padding-left: 44px;
    padding-right: 44px;
    margin-top: 20px;
}
 

/* Modal */

.modal {
    box-shadow: 0px 20px 40px var(--shadow-black); 
    display: none;
}

.modal-contacts {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 760px;    
    padding: 62px 100px 85px 100px;
    background-color: var(--basic-white);
}

.modal-contacts-row {
    display: flex;
    justify-content: space-between;  
    width: 760px;
    margin-bottom: 34px;      
}

.contacts-form input {
    font-family: "Roboto", Arial, sans-serif;
    color: var(--light-grey);
    line-height: 18px;
    font-size: 16px;
    font-weight:400;
    width: 100%;
    margin-top: 5px;
    padding-top: 13px;
    padding-bottom: 12px;
    text-indent: 14px;
    border: 2px solid var(--smoke-grey);
    border-radius: 3px;
    box-sizing: border-box;
}

.modal-name, 
.modal-mail {
    width: 360px;
}

.modal-contacts h2 {
    font-size: 45px;
    line-height: 53px;
    margin: 0; 
    margin-bottom: 38px;     
} 

.modal-close {
    position: absolute;
    top: 78px;
    right: 90px;
    width: 21px;
    height: 21px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.3;
}

.modal-close:hover {
    opacity: 1;
}
  
.modal-close:active {
    opacity: 0.1;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;  
    width: 21px;
    height: 5px;
    background-color: var(--basic-pink);
}

.modal-close::before {
    transform: rotate(45deg);
}
      
.modal-close::after {
    transform: rotate(-45deg);
}

.contacts-form {
    position: relative;
}

.contacts-form label {    
    font-weight: 700;
    line-height: 18px;
}

.modal-textarea {
    font-family: "Roboto", Arial, sans-serif;
    color: var(--light-grey);
    line-height: 18px;
    font-size: 16px;
    font-weight:400;
    width: 100%;    
    margin-top: 7px;
    margin-bottom: 36px;
    text-indent: 14px;
    border: 2px solid var(--smoke-grey);
    border-radius: 3px;
    height: 118px;
    padding: 12px 2px;
    box-sizing: border-box;
}

.contacts-form input:hover,
.contacts-form textarea:hover {
    border-color: var(--misty-grey);
}

.contacts-form input:focus,
.contacts-form textarea:focus {
    color: var(--light-grey);
    border-color: var(--basic-black);
}

.contacts-form input:invalid {
    color: var(--darker-pink);
    border-color: var(--darker-pink);
}

.modal-button {
    padding-left: 83px;
    padding-right: 83px;
    margin: 0;
}

/* Social Networks */

.social-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 36px;
}

.footer-social {
    outline-offset: -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    width: 261px;
}

.footer-social li {
    border-radius: 100px;
    background-color: var(--social-grey);
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.footer-social li:hover{
    border-radius: 100px;
    background-color: var(--darker-pink);
    width: 80px;
    height: 80px;
}

.footer-social li:active{
    border-radius: 100px;
    background-color: var(--darker-pink);
    box-shadow:inset 0 3px 0 var(--transparent-grey); 
    width: 80px;
    height: 80px;
}

.footer-social li:active img {
    opacity: 0.3;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

/* Friendship */

.friendship {
    padding-left: 14px;
    padding-top: 6px;
}

.friendship h3 {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
}

.friendship p {
    color: var(--light-grey);
    line-height: 22px;
    font-weight: 400;
    margin-top: 10px;
}

/* +++++++++++++++++++++++++++++++++++++++CATALOG+++++++++++++++++++++++++++++++++++++++++ */

.feature-header-catalog {    
    text-align: center;
    font-size: 55px;
    line-height:  55px;
    font-weight: 500;   
    padding-top: 42px;
    padding-bottom: 75px;
    background-color: var(--almost-grey);
}

.page-catalog {
    outline-offset: -5px;
    display: grid;
    grid-template-columns: 260px 1fr;
    align-content: start;
}

/* Sorting */

.sorting {
    margin-bottom: 40px;
    margin-left: 141px;
    margin-top: 11px;
    display: flex;    
    align-items: center; 
}

.sorting ul {
    display: flex;
    flex-wrap: wrap;
    color: var(--transparent-black-3);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase; 
    list-style: none;  
    margin-left: 5px;    
}

.properties {    
    flex-grow: 1;
    justify-content: flex-end;
}

.properties li {
    position: relative;
    margin-right: 25px;
}

.properties a {
    color: var(--basic-black);
    opacity: 0.3;
}

.properties a:hover,
.properties a:focus {
    opacity: 0.6;
}

.properties a.properties-current,   
.properties a:active {
    opacity: 1;
}

.arrows {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 60px;
    padding: 0;   
}

.arrows li {
    margin-left: 19px;
}

.arrows a {
    opacity: 0.2;
}

.arrows a:hover,
.arrows a:focus {
    opacity: 0.6;
}

.arrows a.arrows-current,
.arrows a:active {
    opacity: 1;
}

/* Products */

.catalog {
    outline-offset: -5px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    margin-left: 140px;
    list-style: none;
}

.catalog-item {
    position: relative;  
    width: 360px;
    margin-bottom: 26px;
    overflow: hidden;
}

.catalog-item img {
    width: 360px;
    height: 576px;
    padding-top: 40px;
    object-fit: cover;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: border-box;
    box-shadow: 0 2px 1px 0 var(--misty-grey);
    border: 1px solid var(--almost-grey);
}

.description-container {
    padding: 25px 60px 25px 60px;  
    text-align: center;
}

.main-title legend {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;  
}

.main-title {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    margin: 0;
}

.site-title:hover {
    color: var(--basic-pink);    
}

.site-title:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.price-offer {     
    position: absolute;
    bottom: 5px;  
    display: none;
    width: 100%;
    min-height: 231px;  
    background-color: var(--almost-grey);
    cursor: pointer;
    object-fit: contain;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.price-button {
    padding: 17px 72px 15px 72px;
}

.product-description {
    color:var(--dark-grey); 
    font-size: 16px;
    line-height: 18px;  
    text-align: center;
    font-weight: 400;
    margin-top: 13px;
    margin-bottom: 29px;
}

.catalog-item::before {
    content: "";
    position: absolute;  
    width: 361px;
    height: 40px;  
    background-image: url("../img/browser.svg");    
    background-color: var(--basic-white);
}

.catalog-item:hover::before {
    background-image: url("../img/browser-hover.svg");
}

.catalog-item:hover,
.catalog-item:focus {
    filter: drop-shadow(0px 6px 15px var(--transparent-black));
}

.catalog-item:focus .price-offer,
.catalog-item:hover .price-offer {
    display: block;
}
  
/* Filters */

.filters {
    margin-top: 18px;
    width: 260px;   
}

.list-filter {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.list-filter legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 12px;
    padding-top: 39px;
    background-color: var(--almost-grey);
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
}

.scale {
    height: 2px;
    background: var(--middle-grey);
} 

.bar {
    width: 70%;
    height: 2px;
    background: var(--basic-green);
}

.toggle {
    position: absolute;
    top: 31px;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--shadow-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--transparent-grey); 
    position: absolute;
    top: 31px;
    left: 0;
    cursor: pointer;
}

.toggle-min {
    left: 18px;
}
  
.toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls label {
    text-transform: uppercase;
    font-size: 16px;
    color: var(--basic-grey);
    font-weight: 400;
    line-height: 22px;
}

.price-controls input {
    font-family: inherit;
    font-size: inherit;
    line-height: 22px;
    width: 60px;
    margin-left: 10px;
    text-align: center;
    color: var(--basic-grey);
    border: none;
    border-radius: 5px;
    background: var(--almost-grey);
}   

.min-price {
    padding: 10px; 
}

.max-price {
    padding: 10px 5px 10px 10px;
    margin: 0px 0px 0px 14px;
}

.filter-item {
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    border: none;
}

.filter-properties {
    margin-top: 27px;
}
.filter-item legend {
    margin-bottom: 15px;
}
.filter-item ul {
    color: var(--basic-grey);
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;    
}

.filter-item label {
    position: relative;
    display: block;
    cursor: pointer;
    padding-left: 36px;
    padding-bottom: 20px;
    color: var(--basic-grey);
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 17px;
    border: 4px solid var(--foggy-grey);
    opacity: 0.4;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    background-color: var(--foggy-grey);
    opacity: 0.4;
    border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after {
    opacity: 1;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label::after {
    opacity: 0.1;
}

.filter-input-radio:active + label::before,
.filter-input-radio:active + label::after {
    opacity: 0.2;
}

.filter-input-radio:disabled + label {
    opacity: 0.3;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    background-position: center;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-size: contain;
    opacity: 0.4;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::after {
    opacity: 1;
}

.filter-input-checkbox:active + label::before,
.filter-input-checkbox:checked:active + label::after {
    opacity: 0.2;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label::after {
    opacity: 0.1;
}

.filter-input-checkbox:disabled + label {
    opacity: 0.3;
}

.filter-input-checkbox:checked + label::before {
    display: none;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    width: 25px;
    height: 24px;
    background-image: url("../img/checkbox-on.svg");
    background-size: contain;
    opacity: 0.4;
    background-repeat: no-repeat;
}

.show {
    color: var(--basic-black);
    font-size: 16px; 
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    background-color: var(--almost-grey); 
    border-radius: 3px;
    border: none;
    padding: 18px 88px 15px 88px;
    margin-top: 30px; 
    cursor: pointer;
}

.show:hover,
.show:focus {
    background-color: var(--silver);
}

.show:active {
    background-color: var(--dimgrey);
    box-shadow: inset 0px 3px 0px var(--transparent-black-1);    
} 

/* Pagination */

.pagination-list {
    list-style: none;
    display: flex;
    margin-left: 141px;
    margin-bottom: 72px;
    padding-top: 2px;
    padding-left: 2px;
    
}

.pagination-list a {
    padding: 14px 20px 14px 20px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--almost-grey);
    border-radius: 4px;
}

.pagination-item {
    color: var(--basic-black);
    background-color: var(--almost-grey); 
}

.pagination-list li {
    margin-right: 10px;
}

.pagination-list .current {
    background-color: var(--basic-white);
    box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination-item:hover,
.pagination-item:focus {
    background-color: var(--silver);
}

.pagination-item:active {
    background-color: var(--dimgrey);
    box-shadow: inset 0 3px 0 var(--transparent-black-1);    
}

.pagination-item .next-page {
    padding: 14px 78px;
}

